
/* 腾讯互娱重构外包页面规范 V1.0 精简版（适用于一般的游戏类官网、专题）推荐 */
body, dl, dd, ul, ol, h1, h2, h3, h4, h5, h6, p, form, span { margin: 0; padding: 0; }
body, button, input, select, textarea { font-size: 14px; font-family: '\5FAE\8F6F\96C5\9ED1'; color: #333; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
em, b { font-style: normal; }
a { text-decoration: none; }
    a:hover { text-decoration: none; }
li { list-style: none; }
img { border: 0; }
button, input, select, textarea { font-size: 100%; outline: none; }
table { border-collapse: collapse; border-spacing: 0; }
td, th, ul, ol { padding: 0; }
form { display: inline; }

.clearfix:after { display: block; clear: both; content: ""; visibility: hidden; height: 0; }
.clearfix { zoom: 1; }

body { background-color: #eee; }

.fz28 { font-size: 28px !important; }
.ml20 { margin-left: 20px !important; }
.ml40 { margin-left: 40px !important; }
.ml160 { margin-left: 160px !important; }

.J_printArea { position: relative; margin: 0 auto; width: 1000px; height: 750px; background-color: #fff; overflow: hidden; color: #333; }
.J_printArea .p_background { position: absolute; left: 0; top: 0; }
.J_printArea .p_background img { width: 100%; vertical-align: top; }
.J_printArea .p_foreground { position: absolute; left: 0; top: 0; width: 100%; }
.J_printArea .p_foreground .f_left { float: left; padding: 10px 20px; width: 760px; height: 750px; }
.J_printArea .p_foreground .f_left .l_header { }
.J_printArea .p_foreground .f_left .l_header .h_left { float: left; }
.J_printArea .p_foreground .f_left .l_header .h_left img { height: 80px; vertical-align: top; }
.J_printArea .p_foreground .f_left .l_header .h_right { float: right;  height: 80px; line-height: 80px; }
.J_printArea .p_foreground .f_left .l_header .h_right .r_type { font-size: 14px; }
.J_printArea .p_foreground .f_left .l_header .h_right .r_type span { font-size: 18px; }
.J_printArea .p_foreground .f_left .l_certificate { margin-top: 20px; }
.J_printArea .p_foreground .f_left .l_certificate .c_txt { text-align: center; }
.J_printArea .p_foreground .f_left .l_certificate .c_txt img { height: 40px; vertical-align: top; } 
.J_printArea .p_foreground .f_left .l_voucher { margin-top: 30px; }
.J_printArea .p_foreground .f_left .l_voucher .v_item { display: inline-block; *zoom:1; *display:inline; }
.J_printArea .p_foreground .f_left .l_voucher .v_item .i_title { display: inline-block; *zoom:1; *display:inline; font-weight: bold; font-size: 18px; }
.J_printArea .p_foreground .f_left .l_voucher .v_item .i_txt { display: inline-block; *zoom:1; *display:inline; font-size: 14px; }
.J_printArea .p_foreground .f_left .l_details { margin-top: 20px; }
.J_printArea .p_foreground .f_left .l_details .d_left { float: left; }
.J_printArea .p_foreground .f_left .l_details .d_left .l_item { }
.J_printArea .p_foreground .f_left .l_details .d_left .l_item .i_title { display: inline-block; *zoom:1; *display:inline; font-weight: bold; font-size: 18px; }
.J_printArea .p_foreground .f_left .l_details .d_left .l_item .i_txt {  display: inline-block; *zoom:1; *display:inline; font-size: 14px; }
.J_printArea .p_foreground .f_left .l_details .d_right { float: right; }
.J_printArea .p_foreground .f_left .l_details .d_right .r_item { }
.J_printArea .p_foreground .f_left .l_details .d_right .r_item .i_title { display: inline-block; *zoom:1; *display:inline; font-weight: bold; font-size: 18px; }
.J_printArea .p_foreground .f_left .l_details .d_right .r_item .i_txt { display: inline-block; *zoom:1; *display:inline; font-size: 14px; }
.J_printArea .p_foreground .f_left .l_remarks { margin-top: 20px; }
.J_printArea .p_foreground .f_left .l_remarks .r_left { float: left; }
.J_printArea .p_foreground .f_left .l_remarks .r_left .l_list { }
.J_printArea .p_foreground .f_left .l_remarks .r_left .l_list .l_item { margin-top: 10px; }
.J_printArea .p_foreground .f_left .l_remarks .r_left .l_list .l_item .i_title { display: inline-block; *zoom:1; *display:inline; font-weight: bold; font-size: 14px; }
.J_printArea .p_foreground .f_left .l_remarks .r_left .l_list .l_item .i_txt { display: inline-block; *zoom:1; *display:inline; font-size: 14px; }
.J_printArea .p_foreground .f_left .l_remarks .r_left .l_tips { margin-top: 30px; font-size: 14px; }
.J_printArea .p_foreground .f_left .l_remarks .r_right { float: right; }
.J_printArea .p_foreground .f_left .l_remarks .r_right .r_qrcode { text-align: center; }
.J_printArea .p_foreground .f_left .l_remarks .r_right .r_qrcode img { width: 100px; vertical-align: top; }
.J_printArea .p_foreground .f_left .l_remarks .r_right .r_qrcode p { margin-top: -6px; font-size: 14px; }
.J_printArea .p_foreground .f_left .l_table { margin-top: 10px; }
.J_printArea .p_foreground .f_left .l_table table { width: 100%; height: 300px;  border: 2px solid #05437c; text-align: center; }
.J_printArea .p_foreground .f_left .l_table table thead { }
.J_printArea .p_foreground .f_left .l_table table thead tr { }
.J_printArea .p_foreground .f_left .l_table table thead tr td { border-right: 2px solid #fff; }
.J_printArea .p_foreground .f_left .l_table table thead tr td:last-child { border-right: 2px solid #05437c; }
.J_printArea .p_foreground .f_left .l_table table thead tr td div { position: relative;  height: 50px; line-height: 50px;  }
.J_printArea .p_foreground .f_left .l_table table thead tr td div span { position: relative; font-size: 14px; color: #fff; }
.J_printArea .p_foreground .f_left .l_table table thead tr td div img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.J_printArea .p_foreground .f_left .l_table table tbody {}
.J_printArea .p_foreground .f_left .l_table table tbody tr { }
.J_printArea .p_foreground .f_left .l_table table tbody tr td { padding: 20px 0; border-right: 2px solid #05437c; vertical-align: top; font-size: 14px; }
.J_printArea .p_foreground .f_right { float: right; padding-left: 30px; width: 166px; height: 750px; border-left: 2px dashed #ddd; }
.J_printArea .p_foreground .f_right .r_title { margin-top: 20px; font-size: 34px; font-weight: bold; }
.J_printArea .p_foreground .f_right .r_list { margin-top: 30px; }
.J_printArea .p_foreground .f_right .r_list .l_item { margin-top: 20px; }
.J_printArea .p_foreground .f_right .r_list .l_item .i_title { font-weight: bold; font-size: 18px; }
.J_printArea .p_foreground .f_right .r_list .l_item .i_txt { margin-top: 6px; font-size: 18px; }
.J_printArea .p_foreground .f_right .r_remarksList { margin-top: 60px; }
.J_printArea .p_foreground .f_right .r_remarksList .l_item { margin-top: 20px;  }
.J_printArea .p_foreground .f_right .r_remarksList .l_item .i_title { font-weight: bold; font-size: 18px; }
.J_printArea .p_foreground .f_right .r_remarksList .l_item .i_txt { margin-top: 10px; font-size: 18px; }