html {
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
}
a {
  text-decoration: none;
  color: #999;
}
ul,li{
  padding:0;
  margin:0;
}
img{
  max-width: 100%;
}
ol{
  width: auto !important;
}
.clearfix::after{
  content:"";
  height:0;
  clear:both;
  display:block;
  visibility: hidden;
  overflow: hidden;
}
.detail table{
  border-collapse: unset;
  border-spacing: 0;
  border:solid #ebeef5; 
  border-width:1px 0px 0px 1px;
}
.detail td,.detail th,.detail tr:last-child td,.detail tr:last-child th{
  /*border: 1px solid grey;*/
  /*border-bottom:1px solid grey;*/
  border:solid #ebeef5; 
  border-width:0px 1px 1px 0px;
}
.detail td{
  padding: 5px 10px !important;
}

.icon {
  /* 通过设置 font-size 来改变图标大小 */
  width: 1em; height: 1em;
  /* 图标和文字相邻时，垂直对齐 */
  vertical-align: -0.15em;
  /* 通过设置 color 来改变 SVG 的颜色/fill */
  fill: currentColor;
  /* path 和 stroke 溢出 viewBox 部分在 IE 下会显示
     normalize.css 中也包含这行 */
  overflow: hidden;
}

.el-table.line-table th,.line-table .el-table__fixed-header-wrapper thead div,.line-table .el-table__header-wrapper thead div, .line-table .el-table__footer-wrapper thead div{
  background-color: #fff !important;
}
.el-table th,.el-table__fixed-header-wrapper thead div,.el-table__header-wrapper thead div, .el-table__footer-wrapper thead div{
  background-color: #dff1f6;
  color: #333;
}

.el-table__expanded-cell{
  box-shadow:none;
}
.el-menu--horizontal{
  border-bottom: 0;
}
.el-table::after,.el-table::before{
  width: 0;
}
.t-card{
  box-shadow: 0px 1px 6px 0px rgba(85,85,85,.3);
}

 .el-table{
  border: 1px solid #bbdde7 !important;
  border-radius: 4px;
} 
 .el-table--border th, .el-table--border td{ 
   border-right: 1px solid #bbdde7; 
} 
.el-table th.is-leaf, .el-table td{
  border-bottom: 1px solid #ebeef5;
}

.el-table.line-table th.is-leaf, .el-table.line-table td{
  border-bottom: 0 none;
}
.el-table.line-table{
  border: 0 !important;
}
.el-table.line-table .el-table__header-wrapper{
  border-bottom:3px solid ;
  border-image: linear-gradient(45deg, #009fd7 0%, #01d1bb 100%) 45 45;
}
.el-table.line-table th,.el-table.line-table td{
  font-size:14px;
  color:#333;
}
.el-table.line-table td{
  border-bottom:1px dashed rgba(35, 201, 179, 0.3);
}
/*.el-table tr:last-child td{
  border-bottom: 0;
}*/
.el-table__fixed, .el-table__fixed-right{
  box-shadow: 1px 0 8px #bbdde7;
}
/*.el-table th > .cell{
  line-height: 50px;
}*/
.el-table th, .el-table td{
  height: 55px;
  /* 50->>55 */
}
.el-table td{
  padding: 0 !important;
}
.small-table.el-table th, .small-table.el-table td{
  height: 40px;
}
.el-checkbox{
  color: #666;
}
.height-btn,.light-btn{
  padding: 12px 35px !important;
  color: white !important;
  font-size: 16px;
  border: 0;
}
.light-btn,.light-btn:hover{
background: #01cabf
}
.height-btn,.height-btn:hover{
  background: #00b1d1;
}
th div{
  width: 100%;
  /*padding-left: 0 !important;*/
}
.el-textarea__inner{
    border: 1px solid #cae3ee;
}

.el-button {
  color: #20a0ff;
  border-color: #20a0ff;
  padding: 7px 15px;
}

.el-button--primary {
  color: #fff;
  background-color: #20a0ff;
  border-color: #20a0ff;
}
.el-pager li.active{
  color: #fff !important;
}
.el-button--basis {
  color: #fff;
  background-color: #00b1d1;
  border-color: #00b1d1;
}
.el-button--basis:hover {
  color: #fff;
  background-color: #12b8d6;
  border-color: #12b8d6;
}
.el-carousel__button{
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background-color: #eee;
}
.is-active .el-carousel__button{
  background-color: #69cbf2;
}
.el-breadcrumb__item__inner, .el-breadcrumb__item__inner a{
  color: #999;
  /*font-size: 14px;*/
}
.el-breadcrumb__item:last-child .el-breadcrumb__item__inner, .el-breadcrumb__item:last-child .el-breadcrumb__item__inner:hover, .el-breadcrumb__item:last-child .el-breadcrumb__item__inner a, .el-breadcrumb__item:last-child .el-breadcrumb__item__inner a:hover{
  color: #333;
  /*font-size: 14px;*/
}
.el-breadcrumb__inner{
  color:#999;
}
.el-breadcrumb__inner.is-link{
  font-weight: normal;
  color:#999;
}
.el-tabs__item{
  padding: 0 23px;
}
.el-tabs__item:hover{
  color: #333;
}
.el-carousel__container{
}
.index .el-carousel__item:nth-child(2n+1),.index .el-carousel__item:nth-child(2n){
  background-color: white !important;
}
.index .el-carousel__item h3{
  opacity: 1 !important;
}
.el-breadcrumb__separator{
  margin: 0 8px 0 4px;
}
.gray .el-input__inner{
  border: 0;
  padding-right: 30px
}
.el-form-item__label{
  font-weight: bold;
  color: #333;
}
.el-input__inner{
  border-color: #bfebf3;
  color: #666;
  height: 34px;
  line-height: 34px;
}
.el-range-editor.el-input__inner{
  padding: 0px 10px;
}
.el-input{
  border: 0 !important;
}
.el-radio__inner{
  color: #00a7eb;
  /*background: #00a7eb;*/
}
.el-select .el-input .el-input__icon{
  color: #bfebf3;
  top:0;
}
/* .el-table--fit{
  border-right: 1px solid #bbdde7;
  border-bottom: 1px solid #bbdde7;
} */
.el-input__prefix{
  top: -5px !important;
  /*left: auto !important;*/
}
.el-checkbox__inner{
  border-color: #00a7eb;
}
.el-checkbox__input.is-checked .el-checkbox__inner{
  background: #41c8ff;
  border-color: #41c8ff;
}
.el-popover{
  background: white;
  padding: 8px;
  border-radius: 6px;
  font-family: "Microsoft YaHei";
  max-height: 500px;
  overflow-y: auto;
}
.el-popover[x-placement^="top"] .popper__arrow::after{
  border-top-color: white;
  margin-left: -10px;
}
.el-popover[x-placement^="top"] .popper__arrow{
  bottom: -11px;
  left: 2px;
}
.el-popover[x-placement^="right"] .popper__arrow::after{
  border-right-color: white;
  bottom: -10px;
}
.el-popover[x-placement^="right"] .popper__arrow{
  left: -11px;
}
.el-popover[x-placement^="bottom"] .popper__arrow::after{
  border-bottom-color: white;
  margin-left: -10px;
}
.el-popover .popper__arrow{
  border-width: 11px;
}
.el-popover .popper__arrow::after{
  border-width: 10px;
}
.el-popover[x-placement^="bottom"] .popper__arrow{
  top: -11px;
}
.el-table__expand-icon{
  color: #cce6ed;
}
.el-table__expanded-cell{
  padding: 0;
  background-color:#f8fbfc;
}
.el-input__icon{
        color: #44cee6 !important;
}
.el-tabs--card > .el-tabs__header .el-tabs__item{
border-radius: 4px 4px 0 0;
}
.el-tabs__header{
  box-shadow: 0px -4px 4px #99d5e8 inset;
  border: 0 ;
}
.el-tabs--card > .el-tabs__header .el-tabs__item.is-active{
  border: 0;
  font-weight: bold;
}
.el-dialog__headerbtn .el-dialog__close{
  color: white !important;
}
.el-dialog__title{
  color: white !important;
}
.el-dialog__header{
  background: #3997be !important;
  border-color: #3997be !important;
  padding: 12px;
}
.el-dialog__body{
  background: white;
  padding: 0;
}
.el-dialog--small{
  min-width: 800px;
}
.el-dialog{
  /* background: #eaeaea; */
  background:#fff;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  padding: 10px;
  left: 0;
  transform: translateX(0)
}
.v-modal{
  background: #808080;
  opacity: .3;
}
.is-multiple .el-select-dropdown__item.selected{
  color: #409EFF !important;
}
.el-pagination.is-background .el-pager li:not(.disabled).active{
  background: #23c9b3;
}
.el-select-dropdown__item.selected{
  /* color: white !important; */
}
.el-select__tags span:first-child{
  display: inline-block;
  max-width: 268px;
}
.el-range-editor .el-range-input{
  /*line-height: 1.2 !important;*/
}
/*editor*/
.edui-default .edui-editor{
  border-color: #bfebf3 !important;
  width: auto !important;
}
.edui-default .edui-editor-toolbarboxouter,.edui-default .edui-editor-toolbarbox{
  box-shadow: 0 0 0 white !important;
  background: white !important;
}
.edui-default .edui-editor-toolbarboxouter{
  border-bottom:1px solid #bfebf3 !important;
}
.edui-default{
  border-color: #bfebf3 !important;
  line-height: 0;
}
.edui-default .edui-editor-iframeholder{
  min-height: 100px;
}
.edui-editor-bottomContainer{
  display: none;
}
.no-bottom .edui-default .edui-editor{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
#edui1{
  width: auto !important;
}
.ztree li{
  position: relative;
}
.ztree li .node_name{
  display: inline-block;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/*css*/
.nav-little {
    height: 50px;
    line-height: 49px !important;
    color: #999;
    font-size: 12px;
    /* border-bottom: 1px solid #f1f1f1; */
    /* margin: 0 20px; */
}

.min-button{
  background: #00b1d1 !important;
    height: 30px;
    padding: 0 !important;
    width: 90px;
    border: 0;
}
.el-tabs--card>.el-tabs__header .el-tabs__nav{
  border: 0 !important;
}
.my-tabs .el-tabs--card>.el-tabs__header .el-tabs__item:first-child{
  border-left: 1px solid #00b1d1 !important;
}
.el-menu--horizontal .el-menu-item:not(.is-disabled):focus, .el-menu--horizontal .el-menu-item:not(.is-disabled):hover {
  outline: 0;
  color: #fff;
}
.el-breadcrumb__item:last-child .el-breadcrumb__inner, .el-breadcrumb__item:last-child .el-breadcrumb__inner a, .el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover, .el-breadcrumb__item:last-child .el-breadcrumb__inner:hover{
  color:#999 !important; 
}